<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tumblr4u">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.tumblr4u"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".View.SearchActivity"
            android:exported="false" />

        <activity
            android:name=".View.LikesReblogsActivity"
            android:exported="false" />
        <activity
            android:name=".View.NotesActivity"
            android:exported="false" />
        <activity
            android:name=".View.FullSignupWithEmail"
            android:exported="false" />
        <activity
            android:name=".View.WritePostActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".View.LoginWithEmail"
            android:exported="false" />
        <activity
            android:name=".View.SignupWithEmail"
            android:exported="false" />
        <activity
            android:name=".View.SignupWithGoogle"
            android:exported="false" />
        <activity
            android:name=".View.Authentication"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.MainActivity"
            android:exported="false"
            android:label="@string/app_name" />
        <service
            android:name=".View.SocketBackgroundService"
            android:enabled="true"
            android:exported="true"></service>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>